/*CSS for Display time*/
#response-time {
    color: #f00;
    font-size: 20px;
    margin: 20px 0 0 450px;
}
/*Rectangle*/
#block {
    background-color: #f00;          
    height: 100px;
    left: 100px;
    margin-top: 50px;
    position: absolute;
    top: 100px;
    width: 100px;
}